<a href=student/{{id}}>
<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">{{firstName}} {{lastName}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Guardian Email: {{Guardian.email}}</li>
    <li class="list-group-item">Current Grade: {{inProgressGrade}}</li>
  </ul>
</div>
</div>