
<a href=student/{{id}}>

  <div class="d-flex card-body justify-content-center flex-wrap">
    <h5 class="student-name">{{firstName}} {{lastName}}</h5>
 
  <ul>
    <li class="list-group-item">Guardian Email: {{Guardian.email}}</li>
    <li class="list-group-item">Current Grade: {{inProgressGrade}}</li>
  </ul>
  </div>
