
{{#if loggedIn}}
<nav id="nav">
    <a href="/teacher" class="fa fa-home">Back to Teacher Homepage</a>
</nav>
        <table id="attendance-table">
        <thead>
            <tr>
                <th>Student Name</th>
                {{#each attendanceDates as |dates|}}
                <th>
                    {{dates}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody  id="studentId" name="studentId">
            {{#each studentData as |student|}}
            <tr>
            <td>
            {{student.firstName}} {{student.lastName}}
            </td>
            {{/each}}
            {{#each studentAttendanceMatched as |matched|}}
            <td>
            {{matched.isPresent}}
            </td>
                {{/each}}
    
            </tr>


        </tbody>
       
            </table>
{{else}}
    <a href="/login">Click here to login</a>
{{/if}}
</div>
</section>