<div class="homepage">

  {{#if loggedIn}}

    <div class="jumbotron">
      <div class="container">
        <img src="logo.svg" alt="" />
        <h1 id="h1-homepage"> Welcome to Teacher Force!</h1>

        <nav class="homepage-nav">
          <a href="teacher/student"><button type="button" class="create-button">View All Students</button></a>
          <a href="#"><button type="button" class="create-button">Take Attendance</button></a>
          <a href="teacher/student/new-student"><button type="button" class="create-button">Add Student</button></a>
          <a href="teacher/student/new-guardian"><button type="button" class="create-button">Add Guardian
            </button></a>
          <a href="#"><button type="button" class="create-button">Add Communication Record</button></a>
          <a href="teacher/behavior/new-behavior"><button type="button" class="create-button">Add Behavior
              Record</button></a>
        </nav>
      </div>
      {{! possible future feature search bar }}
      {{! <form class="form-inline" my-2 my-lg-0”>
        <input class="form-control" mr-sm-2” type="search" placeholder="Search" aria-label="Search" />
        <button class="btn" btn-outline-primary my-2 my-sm-0” type="submit">Search</button>
      </form> }}
    </div>
    <div class="container-homepage">
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="title">Recent Assignments</h5>
          <div class="d-flex justify-content-between">
 
          </div>
        </div>
        <ul class="assignments ">
          <div class = "assignment-main d-flex flex-wrap">
            <h6 class = "assignment-main-text">Title</h6>
            <h6 class = "assignment-main-text due-date">Due Date</h6>
            </div>
          {{#each assignmentData as |assignment|}}
            <li class="list-group-item d-flex justify-content-between">
              <div>
                {{assignment.title}}
              </div>
              <div>
                {{assignment.dueDate}}
              </div>
            </li>
          {{/each}}
          <a href="teacher/assignment/new-assignment"><button type="button" class="create-button assignment-btn">Create New
              Assignment</button></a>
        </ul>
      </div>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="assignment-main-text">Daily Riddle</h5>
          <div>
            <p>Riddle: {{randomRiddle.riddle}}</p>
            <p>Answer: {{randomRiddle.answer}}</p>
          </div>
        </div>
      </div>
      <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="assignment-main-text">Daily Quote</h5>
          <div>
            <p>Quote:{{randomQuote.quote}}</p>

            <p>Author: {{randomQuote.author}}</p>
          </div>
        </div>
      </div>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>
<footer>

</footer>