<div>
  {{#if loggedIn}}
    <a href="/teacher"><button type="button" class="create-button">Back to Teacher Homepage</button></a>

    <div>

      <div>

        <div class="invisible-text">
          <h1>{{data1.firstName}}</h1> 
          <h2>{{data1.lastName}}</h2>
        </div>
        <ul class="invisible-text list-group list-group-flush">
          <li><span class="fw-bold">Guardian: </span>{{data6.0.firstName}} {{data6.0.lastName}}</li>
          <li><span class="fw-bold">Guardian Email: </span>{{data6.0.email}}</li>
        </ul>
      </div>
      <div class="d-flex justify-content-around"> 
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Attendance</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{data2.0.date}}</li>
            <li class="list-group-item">Present: {{data2.0.isPresent}}</li>
          </ul>
        </div> 
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Communications</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Date: {{data3.0.dateOfCommunication}}</li>
            <li class="list-group-item">Method: {{data3.0.communicationMethod}}</li>
            <li class="list-group-item">Notes: {{data3.0.description}}</li>
            <li class="list-group-item">Follow Up Needed: {{data3.0.followUpNeeded}}</li>
          </ul>
        </div>
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Assignment Feedback</h5>
          </div>
          <ul class="list-group list-group-flush">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Status: {{data4.0.submissionStatus}}</li>
              <li class="list-group-item">Grade: {{data4.0.scoreEarned}}%</li>
              <li class="list-group-item">Notes: {{data4.0.feedback}}</li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Behaviors</h5>
          </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Title: {{data5.0.title}}</li>
              <li class="list-group-item">Teacher Action: {{data5.0.immediateActionTaken}}</li>
              <li class="list-group-item">Student Notes: {{data5.0.postActionComments}}</li>
              <li class="list-group-item">Positive: {{data5.0.isGood}}</li>
            </ul>
        </div>

      </div>

    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>