<div>
  {{#if loggedIn}}
  {{>back_nav}}
    <div>
      <div class="invisible-text">
        <h1>{{data1.firstName}}</h1>
        <h2>{{data1.lastName}}</h2>
      </div>
      <ul class="invisible-text list-group list-group-flush">
        {{#each data6 as |guardian|}}
          <li>
            <span class="fw-bold">Guardian's Name:
            </span>{{guardian.firstName}}
            {{guardian.lastName}}
            <span class="fw-bold">Email: </span>{{guardian.email}}
            <span class="fw-bold">Phone: </span>{{guardian.phoneNumber}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="d-flex justify-content-around">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Attendance</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date: {{data2.0.date}}</li>
          <li class="list-group-item">Present: {{data2.0.isPresent}}</li>
          <li class="list-group-item">Time: {{data2.0.time}}</li>
          <li class="list-group-item">Notes: {{data2.0.notes}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date: {{data2.1.date}}</li>
          <li class="list-group-item">Present: {{data2.1.isPresent}}</li>
          <li class="list-group-item">Time: {{data2.1.time}}</li>
          <li class="list-group-item">Notes: {{data2.1.notes}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date: {{data2.2.date}}</li>
          <li class="list-group-item">Present: {{data2.2.isPresent}}</li>
          <li class="list-group-item">Time: {{data2.2.time}}</li>
          <li class="list-group-item">Notes: {{data2.2.notes}}</li>
        </ul>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Communications</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:
            {{data3.0.dateOfCommunication}}</li>
          <li class="list-group-item">Method:
            {{data3.0.communicationMethod}}</li>
          <li class="list-group-item">Notes: {{data3.0.description}}</li>
          <li class="list-group-item">Follow Up Needed:
            {{data3.0.followUpNeeded}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:
            {{data3.1.dateOfCommunication}}</li>
          <li class="list-group-item">Method:
            {{data3.1.communicationMethod}}</li>
          <li class="list-group-item">Notes: {{data3.1.description}}</li>
          <li class="list-group-item">Follow Up Needed:
            {{data3.1.followUpNeeded}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Date:
            {{data3.2.dateOfCommunication}}</li>
          <li class="list-group-item">Method:
            {{data3.2.communicationMethod}}</li>
          <li class="list-group-item">Notes: {{data3.2.description}}</li>
          <li class="list-group-item">Follow Up Needed:
            {{data3.2.followUpNeeded}}</li>
        </ul>
      </div>
      {{!-- 
    <div class="card" style="width: 18rem;">

          <div class="card-body">
            <h5 class="card-title">Assignment Feedback</h5>
          </div>
          <ul class="list-group list-group-flush">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Status: {{data4.0.submissionStatus}}</li>
              <li class="list-group-item">Grade: {{data4.0.scoreEarned}}%</li>
              <li class="list-group-item">Notes: {{data4.0.feedback}}</li>
            </ul>
        </div> --}}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Behaviors</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: {{data5.0.title}}</li>
          <li class="list-group-item">Teacher Action:
            {{data5.0.immediateActionTaken}}</li>
          <li class="list-group-item">Student Notes:
            {{data5.0.description}}</li>
          <li class="list-group-item">Positive: {{data5.0.isGood}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: {{data5.1.title}}</li>
          <li class="list-group-item">Teacher Action:
            {{data5.1.immediateActionTaken}}</li>
          <li class="list-group-item">Student Notes:
            {{data5.1.description}}</li>
          <li class="list-group-item">Positive: {{data5.1.isGood}}</li>
        </ul>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Title: {{data5.2.title}}</li>
          <li class="list-group-item">Teacher Action:
            {{data5.2.immediateActionTaken}}</li>
          <li class="list-group-item">Student Notes:
            {{data5.2.description}}</li>
          <li class="list-group-item">Positive: {{data5.2.isGood}}</li>
        </ul>
      </div>
    </div>

  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>